<div class="section-wide">
    <div class="section-header"><h2>Petri Experiments</h2></div>
    <table class="app-info-table petri">
        <thead>
            <tr>
                <th>Id</th>
                <th>Key</th>
                <th>Paused</th>
                <th>Scope</th>
                <th>Groups</th>
                <th>Filters</th>
            </tr>
        </thead>
        <tbody>
        #foreach( $experiment in $experiments )
            <tr>
                <td>$experiment.id</td>
                <td>$experiment.key</td>
                <td>$experiment.paused</td>
                <td>$experiment.scope</td>
                <td>
                    <ul class="petri-groups">
                    #foreach( $group in $experiment.groups )
                        <li>$group.id - $group.value <small>($group.chunk)</small></li>
                    #end
                    </ul>
                </td>
                <td>
                    <ul class="petri-filters">
                        #foreach( $filter in $experiment.filters )
                            <li><span class="id">$filter</span></li>
                        #end
                    </ul>
                </td>
            </tr>
        #end
        </tbody>
    </table>
</div>