<style type="text/css">
    ul.petri-groups {
        padding-left: 0;
    }
    ul.petri-groups li {
        list-style: none;
    }

    .petri span.id {
        display: inline-block;
        min-width: 7em;
    }

    .petri small {
        font-style: italic;
    }
</style>