
<div class="container ng-scope"  ng-if="show" class="show">
    <div class="row form-group">
              <div class="topButtonPannel">
                  <a id="home" style="color: orange" ui-sref="login.h({state: 'active'})"><small><strong >Home</strong></small></a>
                  <a id="specs"  ui-sref="login.specs"><small><strong>View Specs</strong></small></a>
                  <a id="faq" href="http://kb.wixpress.com/display/hoopoe/FAQ"><small><strong>Petri - FAQ</strong></small></a>
                  <a class="btn btn-newExperiment pull-right" ng-click="newExperiment()" ng-disabled="!editStatus"><span style="font-size: large;margin-right: 5px ">+</span>Add Experiment</a>
        </div>
    </div>

    <!--<div class="col-xs-12 fullView" style="padding-top: 54px;background: #D6D4D8;border-top-right-radius: 6px;border-top-left-radius: 6px">-->
        <div class="leftSide" id="sidebar" role="navigation" >


            <div class="list-group sidePanel">
                <a ui-sref="login.h({state: 'active'})" class="list-group-item" ng-class="{active:class=='active'}">Active Experiments</a>
                <a ui-sref="login.h({state: 'paused'})" class="list-group-item" ng-class="{active:class=='paused'}">Paused Experiments</a>
                <a ui-sref="login.h({state: 'future'})" class="list-group-item" ng-class="{active:class=='future'}">Future Experiments</a>
                <a ui-sref="login.h({state: 'ended'})" class="list-group-item" ng-class="{active:class=='ended'}">Ended Experiments</a>
                <a ui-sref="login.h({state: 'all'})" class="list-group-item" ng-class="{active:class=='all'}">All Experiments</a>
            </div>

        </div><!--/span-->
        <div class="rightSide" id="mainView">
            <div load-pane='dataLoading'></div>

            <div class="topPanel" id="editStatusOff" ng-if="!editStatus"><span>EXPERIMENT FREEZE!</span></div>
            <div class="topPanel"><span>{{class}} Experiments ({{allexperiments.length}})</span></div>
            <div class="fa fa-question-circle" id="search_q" title="search pattern : [<columnName>: text]; [<columnName>: text]..."></div>
            <form  role="form">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control petri-filter" id="filter" name="filterInput" debounce="300" type="text" ng-change="onSelectedChange()" ng-model="selected.text" placeholder="filter..."
                               title="search pattern : [<columnName>: text]; [<columnName>: text]...">
                        <div class="input-group-addon fa  fa-lg fa-search"></div>
                    </div>
                </div>

            </form>
            <div class="gridStyle"  ng-grid="gridOptions">

            </div>
        </div>
    <!--</div>-->

</div>
