<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>ExtractUserInfoServlet</servlet-name>
        <servlet-class>com.wixpress.petri.ExtractUserInfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExtractUserInfoServlet</servlet-name>
        <url-pattern>/extractUserInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConductExperimentServlet</servlet-name>
        <servlet-class>com.wixpress.petri.ConductExperimentServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConductExperimentServlet</servlet-name>
        <url-pattern>/conductExperiment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SpecsSynchronizerServlet</servlet-name>
        <servlet-class>com.wixpress.petri.SpecsSynchronizerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SpecsSynchronizerServlet</servlet-name>
        <url-pattern>/sync-specs</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>laboratoryFilter</filter-name>
        <filter-class>com.wixpress.petri.laboratory.http.LaboratoryFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>laboratoryFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>laboratoryConfig</param-name>
        <param-value>/WEB-INF/laboratory.properties</param-value>
    </context-param>

</web-app>