<!--<style type="text/css">-->
    <!--.modal .modal-dialog { width: 360px; }-->
<!--</style>-->

<div class="confirm-content " id="confirm-dialog">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel(dismiss)">×</button>
        <h4>{{content.header}}</h4>
    </div>
    <div class="confirm-body">
        <div class="text-error" id="confirm-modal-text">{{content.body.text}}</div>
    </div>

    <div class="confirm-footer"  >
        <textarea ng-show="content.data!==null" id="comment" placeholder="comment..." rows="3"  style="resize: none; "  ng-model="content.data" required></textarea>
        <div class="flex-container">
            <button class="btn  btn-default btn-cancel" ng-class="content.cancelText.class" ng-click="cancel(dismiss)">{{content.cancelText.text}}</button>
            <button class="btn align-to-right-in-flex"  ng-class="content.okText.class" ng-click="apply(dismiss)" id="confirm-modal-ok-button">{{content.okText.text}}</button>
        </div>
    </div>

    <!--<div>-->
    <!--<button class="btn btn-link" ng-click="form.isCollapsed = !form.isCollapsed">debug data</button>-->
    <!--</div>-->
</div>



