
<div class="container ng-scope">


    <!--<div class="col-xs-12 fullView" style="padding-top: 54px;background: #D6D4D8;border-top-right-radius: 6px;border-top-left-radius: 6px">-->
    <div class="leftSide" id="sidebar" role="navigation" >
        <div class="list-group sidePanel" style="margin-top: 50px;">
            <a ui-sref="view.experiment({state:'general',experimentId:{{experimentId}}})" class="list-group-item" ng-class="{active:class=='general'}">General</a>
            <a ui-sref="view.experiment({state:'testGroups',experimentId:{{experimentId}}})" class="list-group-item" ng-class="{active:class=='testGroups'}">Test Groups</a>
            <a ui-sref="view.experiment({state:'filters',experimentId:{{experimentId}}})" class="list-group-item" ng-class="{active:class=='filters'}">Filters</a>
            <!--a ui-sref="h({state: 'unknown'})" class="list-group-item">All Experiments</a-->
        </div>
    </div><!--/span-->
    <div class="rightSide">
        <div load-pane=dataLoading></div>
        <div class="topPanel"><span>Experiment {{experiment.name}}</span></div>
        <div style="overflow-y: auto">
            <div class="GenericTable" ng-show="class==='general'"  >
                <table >
                    <tr>
                        <td>
                            Property
                        </td>
                        <td>
                            Value
                        </td>
                    </tr>
                    <tr ng-repeat="property in experimentProperties">
                        <td>
                            {{property}}
                        </td>
                        <td>
                            {{experiment[property]}}
                        </td>
                    </tr>
                </table>
            </div>

            <div class="GenericTable" ng-show="class==='testGroups'"  >

                <table >
                    <tr>
                        <td>
                            #id
                        </td>
                        <td>
                            Value
                        </td>
                        <td>
                            Chunk
                        </td>
                    </tr>
                    <tr ng-repeat="line in info.lines">
                        <td>
                            {{line.id}}
                        </td>
                        <td>
                            {{line.value}}
                        </td>
                        <td>
                            {{line.chunk}} %
                        </td>

                    </tr>
                </table>
        </div>
            <div class="GenericTable" ng-show="class==='filters'"  >

                <table >
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            Value
                        </td>

                    </tr>
                    <tr ng-repeat="filter in filters">
                        <td>
                            {{filter}}
                        </td>
                        <td>
                            {{experiment[filter]}}
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--</div>-->

</div>
