<h3 class="logoSize stagingTxt" ng-show="!$root.clientConfig.production">Staging</h3>

<div class="petriLogo" id="login" ng-show="$root.clientConfig.production">
    <img   ng-show="!login.login" class="logoSize loginLogoPos"  relative-src='images/petri.png' >

    <div >
        <div class="loginButton pull-right" id="googleLogin"  >
            <div class="btn btn-link " ng-show="!login.login" >
              <a ng-if='!useBoAuthenticationServer'  class="btn btn-link" ng-href="{{action}}">log in with google</a>
              <a ng-if='useBoAuthenticationServer' class="btn btn-link" ng-click="loginClick()">log in with google</a>
            </div>
            <span ng-show="login.login">{{login.user}} |</span>
            <div class="btn btn-link" ng-show="login.login" ng-click="logout()">logout</div>
        </div>
    </div>


</div>
<div ui-view></div>

<footer class="statusView">
    <div ui-view="status"></div>
</footer>
