    <!--<div class="row">-->
        <!--<div class="col-lg-12">-->
            <!--<div><small>lastUpdate :</small><strong> {{lastUpdate| date:'dd-MM-yyyy HH:mm:ss Z'}}</strong> <small>  experiments </small><strong>{{count}}  </strong>.</div>-->
            <!--<div  ng-show="status.disconnect"><small><strong>disconnect</strong></small></div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-lg-12">
            <div id="msg-after-api-call" ng-show="msg" ng-class="msg.class"><small><strong>{{msg.text}}</strong></small></div>
        </div>
    </div>
